* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #323232;
    border: none;
}

input {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    height: 30px;
    padding: 10px;
}

input, label {
    display: block;
    width: 100%;
    outline: none;
}

input:focus, label:focus {
    outline: none;
}

input[type="submit"] {
    background-color: #001935;
    font-size: 18px;
    color: #FFF;
    border: none;
    border-radius: 8px;
    height: 40px;
    width: 50%;
    cursor: pointer;

} 

input:focus {
    border-color: #4f9fcf;
}

body {
    padding-top: 5%;
    background-color: #001935;
}

.main-container {
    width: 300px;
    margin-right:auto; 
    margin-left: auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 25px;    
}

.main-container h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 18px;
}

.icon-user {
    text-align: center;
}

form {
width: 100%;
}

.input-field{
    margin-bottom:10%;
}

.register {
    margin-bottom: 10px;
}

.register span {
    font-size: 12px;
}

.btn {
    text-align: center;
}

.error-validation {
    color: #ff1a1a;
    position: absolute;
    top: 57px;
    font-size: 12px;
}